# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/
venv/
.venv/

# Django
db.sqlite3

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log